
<div class="container" style="margin: 5%;">
    <div class="row">
        <div class="col-md-2"> <h1>Weather</h1></div>
        <div class="col-md-2"><h1 class="text-success"> <%=weather.city%></h1></div>
        <div class="col-md-2"><img src= "<%= weather.icon %>" alt="weather" class="img-thumbnail"></div>
        <div class="col-md-2">
            <span class="topTemp text-success">
                <h1>
                 <%=weather.temperature%>°C
                </h1>
            </span>
        </div>
        <div class="col-md-2 text-success">
            
            <h2><span class="max ">
              Min:  <%=weather.temp_max%>
            </span>
            <span class="min">
              Max:  <%=weather.temp_min%>°C
            </span></h2>
        </div>
        <div class="col-md-2 text-success">
            <h1 class="card-title">
                <%=weather.description%>
            </h1>
        </div>
        
    </div>
</div>